<a name="top"></a>
<!--菜单栏-->
<div class="home-head gr-margin h80 gr-blue" id="">
    <img src="images/logo.png" alt="LOGO" class="mt10 mr100 fl">
    <ul class="fl">
        <li><a href="">首页</a></li>
        <li><a href="#jump">聊天室</a></li>
        <li><a href="#jump">关于我们</a></li>
    </ul>

</div>
<!--展示-->
<div class="home-top gr-margin" id="background-size">

</div>
<!--文本-->
<div class="home-text gr-margin h450">

</div>
<!--实例-->
<div class="home-exp gr-margin h300 gr-green">

</div>
<!--关于我们&留言板-->
<div class="home-about gr-margin h700" id="jump">

</div>
<!--页脚-->
<div class="home-bottom gr-margin gr-blue h100">

</div>

<a href="#top"><div class="Top">
    <span class="icon-white icon-eject xx"></span>
    <p>TOP</p>
</div></a>

<script src="js/business/home.js"></script>
