<a name="top"></a>
<!--菜单栏-->
<div class="home-head gr-margin h80 gr-blue" id="">
    <img src="images/logo.png" alt="LOGO" class="mt10 mr100 fl">
    <ul class="fl">
        <li><a href="">首页</a></li>
        <li><a href="#jump">聊天室</a></li>
        <li><a href="#jump">关于我们</a></li>
    </ul>
    <div class="fr w300 tr lh80">
        <button type="button" class="home-login btn btn-info mr10 w80">登  录</button>
        <button type="button" class="home-sign btn btn-default w80">注  册</button>
    </div>

</div>
<!--展示-->
<div class="home-top gr-margin tc" id="background-size">
    <h1 class="lh80 pt150">用数据说话</h1class>
    <h3 class="lh80">大数据时代还在用枯燥的Excel?  NO!</h3>
    <h3 class="lh80">数据可视化为你的BI增色添彩！</h3>
    <button type="button" class="home-start btn-diy mt100">S T A R T</button>
</div>
<!--文本-->
<div class="gr-margin h450">
    <h3 class="tc mt30 mb20">数据需求挖掘分析,人人都会用的数据可视化</h3>
    <div class="fl home-text"></div>
    <div class="fl home-text"></div>
    <div class="fl home-text"></div>
</div>
<!--实例-->
<div class="home-exp gr-margin h300 gr-green">

</div>
<!--关于我们&留言板-->
<div class="home-about gr-margin h700" id="jump">

</div>
<!--页脚-->
<div class="home-bottom gr-margin gr-blue h100">

</div>

<a href="#top"><div class="Top">
    <span class="glyphicon glyphicon-eject f20"></span>
    <p>TOP</p>
</div></a>

<script src="js/business/home.js"></script>
