<a name="top"></a>
<!--菜单栏-->
<div class="home-head gr-margin h80 gr-blue" id="">
    <img src="images/logo.png" alt="LOGO" class="mt10 mr100 fl">
    <ul class="fl">
        <li><a href="">首页</a></li>
        <li><a href="#jump">聊天室</a></li>
        <li><a href="#jump">关于我们</a></li>
    </ul>
    <div class="fr w300 tr lh80">
        <button type="button" class="home-login btn btn-info mr10 w80">登  录</button>
        <button type="button" class="home-sign btn btn-default w80">注  册</button>
    </div>

</div>
<!--展示-->
<div class="home-top gr-margin tc pr" id="background-size">
    <p class="lh80 pt150 ls15" style="font-size: 45px;">用数据说话</p>
    <h3 class="lh80 ls10">大数据时代还在用枯燥的Excel?  NO!</h3>
    <h3 class="lh80 ls10">数据可视化为你的BI增色添彩！</h3>
    <button type="button" class="home-start btn-diy pa">S T A R T</button>
</div>
<!--文本-->
<div class="h450 pt30">
    <h3 class="tc mb20 ls10">数据需求挖掘分析,人人都会用的数据可视化</h3>
    <div class="mauto mt50" style="width:1050px;">
        <div class="fl mr150 w250">
            <h4 class="cl-blue tc"><span class="glyphicon glyphicon-eye-open mr10"></span>数据驱动，价值凸显</h4>
            <p class="mt20 f16 lh30 pf2">借助于图形化手段，清晰有效地传达与沟通信息。海量数据集构成数据图像，分析、监控、展现，形式丰富，效果突出。多维数据剖析，多角度、多侧面观察数据。复杂的数据结构，复杂的数据关系，复杂的逻辑分类，均能准确呈现数据特征。</p>
        </div>
        <div class="fl mr150 w250">
            <h4 class="cl-blue tc"><span class="glyphicon glyphicon-wrench mr10"></span>协同编辑，个性化设置</h4>
            <p class="mt20 f16 lh30 pf2">所见即所得，打造个性化设置。导入编辑数据，选择图表类型，设置页面主题，进行个性化图表配置。一键保存，一键预览，便携的分享输出。个人中心管理自己隐私数据，聊天室与更多的同行人进行沟通学习。</p>
        </div>
        <div class="fl w250">
            <h4 class="cl-blue tc"><span class="glyphicon glyphicon-leaf"></span>人人都是数据分析师</h4>
            <p class="mt20 f16 lh30 pf2">互联网与信息行业迅速发展，大数据时代的来临，我们每个人都应当与时俱进、不断提升,大胆接受新的挑战。快速高效的商务智能数据分析，直观美观并举，人人都是数据分析师。</p>
        </div>
    </div>

</div>
<!--实例-->
<div class="h300 gr-green">
    <div class="mauto pt50 home-exp" style="width:1120px;">
        <div class="w200 h200 gr-blue mr30 fl"></div>
        <div class="w200 h200 gr-blue mr30 fl"></div>
        <div class="w200 h200 gr-blue mr30 fl"></div>
        <div class="w200 h200 gr-blue mr30 fl"></div>
        <div class="w200 h200 gr-blue fl"></div>
    </div>
</div>
<!--关于我们&留言板-->
<div class="home-about gr-margin h700" id="jump">

</div>
<!--页脚-->
<div class="home-bottom gr-margin gr-blue h100">

</div>

<a href="#top"><div class="Top">
    <span class="glyphicon glyphicon-eject f20"></span>
    <p>TOP</p>
</div></a>

<script src="js/business/home.js"></script>
